a {
    color: #414042;
    text-decoration: none;
}
ul, li {
    list-style-type: none;
    text-decoration: none;
}
p {
    text-align: justify;
    color: #777777;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}
html,
body {
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-style: normal;
    line-height: 1.5;
    color: #ffffff;
}

.container__header {
    width: 90%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 72%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
h2 {
    margin-bottom: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.h2 {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.h3 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
h5 {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.h5 {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

button {
    cursor: pointer;
}

@media (max-width: 1024px) {
    .container {
        width: 87%;
    }
    .container__header {
        width: auto;
        max-width: 1900px;
        margin: inherit;
    }
    p {
        text-align: start !important;
        line-height: 1.75 !important;
        font-size: 14px !important;
        font-family: SourceSansPro-Regular, sans-serif !important;
    }
}
